body {
  background: url('../img/dot-grid.png') repeat;
  }

  button {
    border: 0px;
    background: #fff;
    width: 100%;
    text-align: left;
}

.btn {
    border-radius: 10px;
    background: #ffd300;
    padding: .5rem;
    border: 0px;
    box-shadow: 3px 3px 3px #888;
    cursor: pointer;
    text-align: center;
}

.container > .card {
    width: 32rem;
}

a {
    cursor: pointer;
}

.navbar-light .navbar-nav .nav-link:focus, .navbar-light .navbar-nav .nav-link:hover {
    background: rgba(255,255,255,.5);
    border-radius: 7px;
}

html {
    position: relative;
    min-height: 100%;
  }
  body {
    margin-bottom: 60px; /* Margin bottom by footer height */
  }
  .footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 60px; /* Set the fixed height of the footer here */
    line-height: 60px; /* Vertically center the text there */
  }